/* carpentries colours */
:root {
  --cp-black: rgb(56, 56, 56);
  --cp-midnight: rgb(0, 20, 131,);
  --cp-fire: rgb(255, 73, 85);
  --cp-golden: rgb(255, 199, 0);
  --cp-buttercup: rgb(255, 247, 241);
  --cp-general: rgb(8, 20, 87);
  --cp-general-light: rgb(227, 230, 252);
  --cp-data: rgb(32, 89, 89);
  --cp-data-light: rgb(64, 174, 173);
  --cp-software: rgb(32, 20, 52);
  --cp-software-light: rgb(210, 189, 242);
  --cp-library: rgb(164, 5, 14);
  --cp-library-light: rgb(249, 150, 151);
  --cp-lake: rgb(0, 68, 215);
  --cp-pond: rgb(113, 158, 255);
  --cp-sky: rgb(230, 241, 255);
  --cp-dew: rgb(245, 248, 255);
  --cp-fog: rgb(230, 234, 240);
  --cp-mist: rgb(230, 238, 248);
  --cp-sunrise: rgb(252, 117, 126);
  --cp-wand: rgb(255, 214, 216);
  --cp-dawn: rgb(255, 231, 168);
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato Italic';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v23-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'Lato Heavy Italic';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/lato-v23-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/lato-v23-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lato-v23-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lato-v23-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lato-v23-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lato-v23-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

body {
  font-family: "Lato";
}

h1, h2, h3 {
  font-family: "Lato";
  font-weight: 900;
}

img {
  max-height: 600px;
}

ul {
  line-height: 1.33em;
  list-style-type: "\1F44D"; // thumbs up sign
}

.grey {
  color: var(--cp-general);
}
.red {
  color: var(--cp-fire);
}

.credit {
  color: var(--cp-black);
  display: inline-block;
  background-color: var(--cp-dew);
  padding: 7px;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: underline dotted;
}

.c-blue {
  color: var(--cp-midnight);
}

.c-red {
  color: var(--cp-fire);
}

.c-orange {
  color: var(--cp-golden);
}

.c-light-blue {
  color: var(--cp-general-light);
}

.smol-brain {
  font-family: "Lato";
  font-size: 24px;
}

.brain {
  font-family: "Lato";
  font-size: 36px;
}


.large-brain {
  font-family: "Lato";
  font-size: 48px;
}


.galaxy-brain {
  font-family: "Lato";
  font-size: 64px;
}

/*
https://bookdown.org/yihui/rmarkdown/xaringan-format.html#slides-and-properties
*/

.inverse {
  background-color: var(--cp-black);
  color: var(--cp-buttercup);
}

.title-slide {
  background-image: url("img/carpentries-logo.svg");
  background-size: 10%;
  background-position: 5% 90%;
}


.cp-black { color: rgb(56, 56, 56); }
.cp-midnight { color: rgb(0, 20, 131,); }
.cp-fire { color: rgb(255, 73, 85); }
.cp-golden { color: rgb(255, 199, 0); }
.cp-buttercup { color: rgb(255, 247, 241); }
.cp-general { color: rgb(8, 20, 87); }
.cp-general-light { color: rgb(227, 230, 252); }
.cp-data { color: rgb(32, 89, 89); }
.cp-data-light { color: rgb(64, 174, 173); }
.cp-software { color: rgb(32, 20, 52); }
.cp-software-light { color: rgb(210, 189, 242); }
.cp-library { color: rgb(164, 5, 14); }
.cp-library-light { color: rgb(249, 150, 151); }
.cp-lake { color: rgb(0, 68, 215); }
.cp-pond { color: rgb(113, 158, 255); }
.cp-sky { color: rgb(230, 241, 255); }
.cp-dew { color: rgb(245, 248, 255); }
.cp-fog { color: rgb(230, 234, 240); }
.cp-mist { color: rgb(230, 238, 248); }
.cp-sunrise { color: rgb(252, 117, 126); }
.cp-wand { color: rgb(255, 214, 216); }
.cp-dawn { color: rgb(255, 231, 168); }


/* https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: var(--cp-sky);
  border-left: 10px solid var(--cp-pond);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: var(--cp-pond);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-style: italic;
}
