/* carpentries colours */
:root {
  --cp-black: rgb(56, 56, 56);
  --cp-midnight: rgb(0, 20, 131,);
  --cp-fire: rgb(255, 73, 85);
  --cp-golden: rgb(255, 199, 0);
  --cp-buttercup: rgb(255, 247, 241);
  --cp-general: rgb(8, 20, 87);
  --cp-general-light: rgb(227, 230, 252);
  --cp-data: rgb(32, 89, 89);
  --cp-data-light: rgb(64, 174, 173);
  --cp-software: rgb(32, 20, 52);
  --cp-software-light: rgb(210, 189, 242);
  --cp-library: rgb(164, 5, 14);
  --cp-library-light: rgb(249, 150, 151);
  --cp-lake: rgb(0, 68, 215);
  --cp-pond: rgb(113, 158, 255);
  --cp-sky: rgb(230, 241, 255);
  --cp-dew: rgb(245, 248, 255);
  --cp-fog: rgb(230, 234, 240);
  --cp-mist: rgb(230, 238, 248);
  --cp-sunrise: rgb(252, 117, 126);
  --cp-dawn: rgb(255, 214, 216);
  --cp-wand: rgb(255, 231, 168);
}


a {
  color: var(--cp-general);
}
.grey {
  color: var(--cp-general);
}
.red {
  color: var(--cp-fire);
}

.credit {
  color: (--cp-black);
  display: inline-block;
  background-color: (--cp-buttercup);
  padding: 7px;
  border: 1px solid #000;
  text-align: center;
}

.c-blue {
  color: var(--cp-midnight);
}

.c-red {
  color: var(--cp-fire);
}

.c-orange {
  color: var(--cp-golden);
}

.c-light-blue {
  color: var(--cp-general-light);
}

.smol-brain {
  font-size: 24px;
}

.brain {
  font-size: 36px;
}

.brain a {
  color: var(--cp-black);
}

.large-brain {
  font-size: 48px;
}

.large-brain a {
  color: var(--cp-black);
}

.galaxy-brain {
  font-size: 64px;
}

/*
https://bookdown.org/yihui/rmarkdown/xaringan-format.html#slides-and-properties
*/

.inverse {
  background-color: var(--cp-black);
  color: var(--cp-buttercup);
}

.title-slide {
  background-image: url("img/carpentries-logo.svg");
  background-size: 10%;
  background-position: 5% 90%;
}


